h1{
    text-align: center;
}
img{
    height: 51mm;
    width: 51mm;
}
p{
    text-align: center;
}
h1{
    margin: darkgrey;
    background-color: darkgray;
}
h2{

    background-color: darkgrey;
}
title{
    color: #000;
}

